<div class="d-flex justify-content-evenly align-items-center my-5 mx-auto flex-wrap" id="description">
    <div class="col-md-5 col-sm-12 d-flex justify-content-center align-items-center"> 
        <img class="img-description " src='{{ asset('build/images/justice.png') }}' alt="secretaire"/> 
    </div>
    <div class="col-md-5 col-sm-12 d-flex flex-column justify-content-start align-items-start p-4" id="right"> 
        <h2 class="titre-description"> BENOPS – L’expertise de l’enquête, <br /> la rigueur du cadre juridique. </h2>
        <p class="txt-description"> BENOPS est une agence d’investigation privée spécialisée dans la recherche de preuves recevables en justice et la gestion stratégique de situations sensibles, 
        pour le compte de professionnels du droit, d’entreprises et de particuliers.</p>
        <p class="txt-description"> Nos enquêtes sont menées avec la plus grande rigueur méthodologique, dans le strict respect du cadre légal et déontologique imposé par la profession. Notre mission : 
        fournir des éléments factuels, documentés et exploitables, que ce soit dans le cadre de procédures civiles, prud’homales, commerciales ou pénales.</p>
        <p class="txt-description"> Grâce à un réseau national d’enquêteurs agréés, BENOPS intervient avec discrétion, réactivité et précision, sur l’ensemble du territoire français et à l’international.  
        Nous faisons de l'investigation un outil fiable de défense et de vérité, au service de vos intérêts légitimes.</p>
    </div>


</div>
